# Node / JS
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment / Secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Flutter / Dart
.dart_tool/
.packages
.pub/
